.page-wrapper-agent{
    max-height: calc(100vh - 64px);
}

.opening-page-wrapper{
    animation: openingPage 290ms ease 0s 1 normal forwards;
}

@keyframes openingPage {
	0% {
		opacity: 0;
		transform: translateY(45px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}