.auth-wrapper-ui-agent {
    max-width: 420px;
    min-height: 540px;
    animation: authWrapperAnimation 190ms ease-in-out;
}

@keyframes authWrapperAnimation {
    0% {
        transform: translateY(2%);
        opacity: 0.2;
        scale: 0.98;
        transform-origin: 50% 100%;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        scale: 1;
        transform-origin: 50% 100%;
    }
}

.animation-error-timeout-bar{
    animation: errorBarAnimation 6.5s linear 0s 1 normal forwards;
}

@keyframes errorBarAnimation {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}