@tailwind base;
@tailwind components;
@tailwind utilities;

.firebase-emulator-warning {
    display: none;
}

html {
    scroll-behavior: smooth;
}

.inter {
    font-family: 'Inter', sans-serif;
}

.an_load_bar {
    height: 100%;
    position: absolute;
    border-radius: 99px;
    animation: prgs 1s ease-in-out 0.5s infinite;
}

@keyframes prgs {
    0% {
        width: 5%;
        left: -5%;
    }

    50% {
        width: 33%;
    }

    100% {
        width: 5%;
        left: 100%;
    }
}

.modal-animation {
    animation: modal-animation 0.3s;
}

.modal-bg-animation {
    animation: modal-bg-animation 0.4s;
}

/* REVERSE ANIMATION */
.modal-bg-animation-out {
    animation: modal-bg-animation-out 0.6s;
}

.modal-animation-out {
    animation: modal-animation-out 0.5s;
}

.form-full-band {
    bottom: 0;
    width: 300vw;
    height: 14em;
    left: -100vw;
    right: 100vw;
}

.form-full-origin {
    transform: rotate(-6deg);
    animation: form-full-band-origin 0.7s;
}

.form-full-reverse {
    transform: rotate(6deg);
    animation: form-full-band-reverse 0.7s;
}

.opening-page-wrapper{
    animation: openingPage 290ms ease 0s 1 normal forwards;
}

@keyframes openingPage {
	0% {
		opacity: 0;
		transform: translateY(45px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes form-full-band-origin {
    0% {
        transform: rotate(6deg);
    }

    100% {
        transform: rotate(-6deg);
    }
}

@keyframes form-full-band-reverse {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(6deg);
    }
}

@keyframes modal-animation {
    0% {
        transform: scale(0.5) translateY(10%);
        opacity: 0;
    }

    100% {
        transform: scale(1) translateY(0%);
        opacity: 1;
    }
}

@keyframes modal-bg-animation-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes modal-animation-out {
    0% {
        transform: scale(1) translateY(0%);
        opacity: 1;
    }

    90% {
        transform: scale(0.7) translateY(10%);
        opacity: 0;
    }
}

@keyframes modal-bg-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}