@tailwind base;
@tailwind components;
@tailwind utilities;

.firebase-emulator-warning {
    display: none;
}

html {
    scroll-behavior: smooth;
}

.inter {
    font-family: 'Inter', sans-serif;
}

.an_load_bar{
    height: 100%;
    position: absolute;
    border-radius: 99px;
    background-color: rgb(250 250 249);
    animation: prgs 1s ease-in-out 0.5s infinite;
}

@keyframes prgs {
    0% { 
        width: 5%;
        left: -5%;
    }
    50% { 
        width: 33%;
    }
    100% { 
        width: 5%;
        left: 100%;
    }
}